
        <div class="nav">

            <div class="ntop">

                <div class="close">
                    <i class="fa-solid fa-xmark" id="close" style="color: #ffffff;"></i>
                </div>

                <div class="logo">
                    <p>D</p>
                </div>




            </div>
            <div class="nmid">

                <% if(role == 'user'){ %>


                    <div>
                        <i class="fa-solid fa-house"></i>
                        <a href="/user/dashboard">Home</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-user" ></i>
                        <a href="/user/profile">Profile</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-house"></i>
                        <a href="/user/complaint">File Complaint</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-clock"></i>
                        <a href="/user/complaintHistory">Complaint History</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-key"></i>
                        <a href="/user/updatePassword">Update Password</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-xmark"></i>
                        <a href="/user/closedComplaint">Closed Complaint</a>
                    </div>
        
                
                
                
                
                
                
                <% }else if(role == "admin"){ %>
    
    
    
                    <div>
                        <i class="fa-solid fa-house"></i>
                        <a href="/admin/dashboard">Home</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-house" ></i>
                        <a href="/admin/editUser">Edit User</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-house" ></i>
                        <a href="/admin/approveComplaint">Approve Complaint</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-house" ></i>
                        <a href="/admin/closedComplaint">Closed Complaint</a>
                    </div>
    
    
                <% }else if(role == "worker"){ %>
    
                    <div>
                        <i class="fa-solid fa-house"></i>
                        <a href="/worker/dashboard">Home</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-key"></i>
                        <a href="/worker/updatePassword">Update Password</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-house"></i>
                        <a href="/worker/newComplaint">New Complaints</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-clock"></i>
                        <a href="/worker/pendingComplaint">Pending Complaints</a>
                    </div>
    
    
    
    
                <% }else if(role == "contractor"){ %>
    
    
                    <div>
                        <i class="fa-solid fa-house"></i>
                        <a href="/contractor/dashboard">Home</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-user" ></i>
                        <a href="/contractor/pendingComplaint">Pending </a>
                    </div>
                    <div>
                        <i class="fa-solid fa-clock"></i>
                        <a href="closedComplaint.php">Closed Complaints</a>
                    </div>
                    
                    <div>
                        <i class="fa-solid fa-plus"></i>
                        <a href="/contractor/addworker">Add Workers</a>
                    </div>
                    <div>
                    <i class="fa-solid fa-list-check"></i>
                        <a href="/contractor/manageWorker">Manage Workers</a>
                    </div>
                    
                    
                    
                    
                    
                    
                    
                    
                <% } %>
                


            </div>

            <div class="nbtm">

                <div onclick="toggleNav()">
                    <i class="fa-solid fa-moon" ></i>
                    <a href="#" class="dark">Light Mode</a>
                </div>
                <div>
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <a href="/logout">Log Out</a>
                </div>

            </div>


        </div>