<div class="nav">

    <img src="/images/word mark(orange).svg" alt="">

    <i class="fa-solid fa-bars" id="toggle" style="color: white"></i>

    <div class="rlinks">
        <a href="/">Home</a>
        <a href="/#about">About</a>
        <a href="/signup">Sign Up</a>
        <a href="/#contact">Contact Us</a>
        <button> <a href="/login" id="btn">Sign In</a></button>
    </div>

    

    
  </div>