<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complain Connect</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="main">
        
         <!-- Nav bar Starts for here -->
         <%- include('./partials/navTop') %>

        <div class="content">
            <!-- Top Section -->
            
            <div class="top">
                <div class="left">
                    <div class="leftTop">
                        <h1>Making Communities <br><span id="btr">Better</span></h1>
                        <h2>Join <span id="typing"></span></h2>
                    </div>
                    <div class="leftMiddle">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga aliquam excepturi dolorum asperiores ipsam inventore neque quaerat fugiat quasi laudantium iusto laboriosam atque, tempora aperiam molestias, accusantium amet corporis recusandae.</p>
                    </div>
                    <button> <a href="#about">Explore Now</a></button>
                </div>
                <div class="right">
                    <img id="bulb" src="../images/bulb off.svg">
                </div>
            </div>
            

            <!-- Agency Section -->
            <div class="agency"></div>

            <!-- About Section -->
            
            <div class="about" id="about">
                
                <div class="aboutTop">

                    <div class="aTopLeft">
                        <h1>Who</h1>
                        <h1 id="secondh1">We </h1> 
                        <h1>Are?</h1>
                    </div>
                    <div class="aTopRight">
                        <p>Complain Connect specializes in managing <br> complaint portals for societies. Our business <br> revolves around providing a platform where <br> residents can submit complaints related to <br> various issues within their society, such as <br> maintenance, security, or facilities. </p>
                    </div>

                </div>
                <div class="aboutBtm">

                    <div class="aBtmLeft">
                        <p>Complain Connect streamlines the complaint <br> process by offering a user-friendly interface for <br> residents to lodge their concerns efficiently.</p>
                    </div>

                    <div class="aBtmRight">

                        <h1 id="firsth1">What</h1>
                        <h1>We </h1> 
                        <h1>Do?</h1>
                        
                    </div>
                    

                </div>
                <img src="../images/Shapes (1).svg" alt="">
            </div>
            

            <!-- Work Section -->
            
            <div class="work">
                <div>
                    <h3>Lights</h3>
                    <img src="../images/light.svg" alt="">
                    <p>Lights not working ?</p>
                </div>
                <div>
                    <h3>Plumbing</h3>
                    <img src="../images/plumber.svg" alt="">
                    <p>Pipe got stuck ?</p>
                </div>
                <div>
                    <h3>Swimming Pool</h3>
                    <img src="../images/swimmimg.svg" alt="">
                    <p>Want to swim in clean pool ?</p>
                </div>
                <div>
                    <h3>Gym</h3>
                    <img src="../images/plumber.svg" alt="">
                    <p>Machines not working ?</p>
                </div>
            </div>
            

            <!-- Contact Section -->
            
            <div class="contact" id="contact">
                <div class="center">
                    <h1>Have a Question?</h1>
                    <img src="../images/Vector 131.svg" alt="">
                    <form action="">
                        <p>Feel free to contact us at hello@complainconnect.com or write your message below</p>
                        <div class="name">
                            <input type="text" placeholder="FULL NAME">
                        </div>
                        <div class="email">
                            <input type="email" placeholder="EMAIL">
                        </div>
                        <div class="textarea">
                            <textarea name="" id="" placeholder="MESSAGE" cols="20"></textarea>
                        </div>
                        <div class="submit">
                            <input type="submit" value="SEND">
                        </div>
                    </form>
                </div>
            </div>
            

            <!-- Footer Section -->
            <div class="footer">
                <div class="top">
                    <div class="topCenter">
                        <img src="../images/word mark.svg" alt="">
                        <div class="topContent">
                            <p>Products</p>
                            <p>Features</p>
                            <p>Pricing</p>
                            <p>Resources</p>
                        </div>
                        <div class="logo">
                            <div>
                                <i class="fa-brands fa-twitter"></i>
                            </div>
                            <div>
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                            <div>
                                <i class="fa-brands fa-facebook"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="middle"></div>
                <div class="last">
                    <p>© Copyright 2024, All Rights Reserved by Complain Connect</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Typing Effect Script -->
    <script src="javascripts/typingEffect.js"></script>

    <!-- Bulb Toggle  -->
    <script src="javascripts/bulbToggle.js"></script>

   
</body>
</html>
