<%- include('./partials/navTop') %>


        <!-- CSS File Import -->
        <link rel="stylesheet" href="stylesheets/signup.css">

        <div class="content">

            <div class="box">

                <div class="boxtop">

                    <div class="spinner-border text-success" role="status" style="display: none;">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <p id="text"></p>
    
                </div>

                <div class="boxbottom">

                    <div class="innerBox">

                        <div class="top">
                            <h1 style="font-size: 48px;" id="heading">Sign Up <span>now</span></h1>
                        </div>

                    <form class="form"  action="/signup" method="post" onsubmit="return validate(event)" enctype="multipart/form-data" >

                        <input type="text" placeholder="Enter The Username" class="text" name="username" id = 'username' autocomplete="off">

                        <input type="password" placeholder="Enter Your Password" class="text" name="password" id = 'password' autocomplete="off">


                        <input type="email" placeholder="Enter Your Email Id" class="text" name="email" id = 'emailID' autocomplete="off">
                

                    
                <select name = "buildingNumber" class= "dropdown">
                    <option value = "null">Please Select Your Building Number</option>
                    <option value = "210">210</option>
                    <option value = "110">110</option>
                    <option value = "179">179</option>
                </select>

                <select name = "roomNumber" class= "dropdown">
                    <option value = "null">Please Select Your Room Number</option>
                    <option value = "1">1</option>
                    <option value = "2">2</option>
                    <option value = "3">3</option>
                    <option value = "4">4</option>
                    <option value = "5">5</option>
                </select>
                <div class="form-group">
                    <p>Upload Allotment Letter : </p>
                   
                    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="allotment" accept="application/pdf">
                  </div>

        
        

               
                <input type= "submit" value = "Sign Up " name = "save" class="signupbtn">

                        
    
                        
                  
    
                    </form>
    
    
                    </div>
                    <div class="logo">
    
                        <img src="../images/Artboard 2@4x 1.svg" alt="" width="400px" >
    
                    </div>



                </div>

                

                

            </div>
            <p id = "learn"><b>Do You Have an Account ? </b><a href="../php/login.php" id="test" style="color:#FFB219;"><b>Login</a></b></p>

              


            
        </div>

        <script src="javascripts/validateEmail.js"></script>

</body>
</html>