:root {
    --background-color: #444449; 
    --nav-background-color : #161717; 
    --icon-color:#8C8C8C;
    --preview-background-color:#161717;
    --heading-color:white ; 
    --font-color:white;
    --boxes-bg-color: #0B0b0f;
    --box-count-color: #242424;
    --i-count: #8C8C8C;
    --div-hover : #FF9F00;
    

   
}

.light-mode {
    --background-color: #E3E3EA;
    --nav-background-color: #FFFFFF;
    --icon-color:#000000;
    --preview-background-color:#FFFFFF;
    --heading-color:black;
    --font-color:black;
    --boxes-bg-color:#FFFFFF;
    --box-count-color:#E3E3EA;
    --i-count: #000000;
    --div-hover : #000000;
    
    
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    min-height: 100%;
}

.main {
    width: 100%;
    min-height: 100%; /* Ensures it occupies at least the full viewport height */
    background-color: var(--background-color);
    display: flex;
}


/* Code of Navbar End Here  */

.content {
    width: calc(100vw - 80px );
    min-height : 100vh;
    margin-left: 80px; /* Initial margin-left to match the nav width */
    transition: margin-left 0.3s; /* Add transition for a smooth effect */
    background-color: var(--background-color);
    padding: 1rem 3rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


#toggle{
    display: none;
    color: var(--font-color);
}


.nav:hover + .content {
    margin-left: 270px;  
}

.cinfo{
    width: 100%;
    height: 12%;
}
.cline{
    width: 100%;
    height: 5px;
    background-color: var(--font-color);
}
.cinfo h1{
    font-size: 2.5vw;
    color: var(--font-color);
    font-weight: 800;
 
 }
.cinfo p{
    color: var(--font-color);
}
.cbtm{
    width: 100%;
    min-height: 85%;
    height: auto;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.cbtmleft{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--font-color);
    padding-top: 2rem;
}
.cbtmright{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 1rem;

    

}

.cbtmright>img{
    width: 75%;
    max-height: 75%;
}

.btmdiv{
    height: 8%;
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.btmdiv p {
    font-size: 18px;
}

.btmdiv img{
    width: 3%;
} 

.submit{
    width: 100%;
    min-height: 15%;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
button{
    background-color: #FFB219;
    color: black;
    width: 25%;
    height: 55%;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;

}


/* Integrated Code from the file assign Worker File */

select{
    width: 40%;
    padding: 0.5rem;
    border: 1px solid black;
    font-size: 16px;
    border-radius: 5px;
}
.btmdivWorker form{
    background-color: pink;
    width: 100%;
}
.btmdivWorker{
    height: 8%;
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
}

form{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.btmdivWorker p {
    font-size: 18px;
}

.btmdivWorker img{
    width: 3%;
} 
input[type="submit"]{
    background-color: #FFB219;
    color: black;
    width: 20%;
    height: 50%;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;

}


/* Inegrated for star rating in Closed Complaint  */

.star {
    font-size: 3vw;
    color: #ddd;
    cursor: pointer;
    position: relative;
    color: #f0a500;
}


/* Mobile View */
@media (max-width: 500px) {

    .content {
        width: 100%;
        min-height: 100vh; /* Ensures it occupies the full viewport height */
        margin-left: 0;
        background-color: var(--background-color);
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        padding-bottom: 2rem;
    }
    
    .cinfo {
        width: 100%;
        height: auto; /* Allows height to adjust based on content */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cinfo p {
        display: none;
    }
    
    .cinfo h1 {
        font-size: 5vw;
    }
    
    .cline {
        height: 3px;
    }
    
    .cbtm {
        width: 100%;
        height: auto;
        flex-direction: column-reverse;
    }
    
    .cbtmright {
        width: 100%;
        height: auto; /* Adjusts based on content */
        padding-top: 1rem;
        gap: 1rem;
    }
    
    .cbtmright {
        width: 100%;
        height: auto;
    }
    
    .cbtmleft {
        width: 100%;
        height: auto; /* Adjusts based on content */
        padding: 0rem 1rem;
    }
    .submit {
        justify-content: center;
        display: flex;

    }
    
    button{
        width: 40%;
        height: 8vw;
        font-size: 3.2vw;
    }
    .cbtmright>img {
        width: 96%;
    }
    .btmdiv img , .btmdivWorker img {
        display: none;
    }
    .btmdiv h2 , .btmdivWorker h2 {
        font-size: 4vw;
    }
    .btmdiv p,.btmdivWorker p {
        font-size: 4vw;
    }
    select{
        width: 50%;
    }

    .star {
        font-size: 7vw;
        color: #ddd;
        cursor: pointer;
        position: relative;
        color: #f0a500;
    }
    
}


/* Tablet */
@media (max-width: 768px) and (min-width: 500px) {

    #toggle{
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.8rem;
    }
    .content {
        width: 100%;
        min-height: 100vh; /* Ensures it occupies the full viewport height */
        margin-left: 0;
        background-color: var(--background-color);
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        padding-bottom: 4rem;
    }
    .preview{
        display: none;
    }
    .cinfo{
        text-align: center;
        height: 7%;
    }
    .cinfo h1 {
        font-size: 5vw;
    }
    .cinfo p {
        font-size: 16px;
    }
    .cbtm {
        width: 100%;
        height: auto;
        flex-direction: column-reverse;
    }
    
    .cbtmright {
        width: 100%;
        height: auto; /* Adjusts based on content */
        padding-top: 1rem;
        gap: 1rem;
    }
    
    .cbtmright {
        width: 100%;
        height: auto;
    }
    .cbtmleft {
        width: 100%;
        height: auto;
        padding: 0rem 2rem;
        gap: 3rem;
    }
    .submit {
        justify-content: center;
        display: flex;
    }
    
    button{
        width: 35%;
        height: 6vw;
        font-size: 2.75vw;
    }
    .cbtmright>img {
        width: 80%;
    }
   
    .btmdiv img , .btmdivWorker img {
        display: none;
    }
    .btmdiv h2 , .btmdivWorker h2 {
        font-size: 3.2vw;
    }
    .btmdiv p,.btmdivWorker p {
        font-size: 3vw;
    }
    select{
        width: 50%;
    }
   
    .star {
        font-size: 7vw;
        color: #ddd;
        cursor: pointer;
        position: relative;
        color: #f0a500;
    }
}

/* Tablet To Laptop */
@media (min-width: 768px) and (max-width: 992px) {

    .content {
        width: 100%;
        min-height : 100vh;
        margin-left: 0px; /* Initial margin-left to match the nav width */
        background-color: var(--background-color);
        padding: 1rem 1rem;
        align-items: center;
    }
    .preview{
        display: none;
    }
    .cinfo{
        text-align: center;
        height: 10%;
    }
    .cinfo h1 {
        font-size: 4vw;
    }
    .cinfo p {
        font-size: 16px;
    }
    .cbtm {
        width: 100%;
        gap: 1rem;
        flex-grow: 1; /* Allows it to occupy remaining space */
    }
    .cbtmright {
        width: 50%;
        height: 100%;
        padding-top: 4rem;
        gap: 0rem;
    }
    .cbtmright>img {
        width: 90%;
    }
    button {
        width: 45%;
        height: 55%;
    }
  
    .cbtmleft {
        width: 55%;
        height: 100%;
    }
    .btmdiv img {
        width: 4%;
    }
    .btmdiv h2 {
        font-size: 2.25vw;
    }
    .btmdiv p {
        font-size: 2.25vw;
    }
   
   
}



