
.nav{
    width: 80px;
    height: 100%;
    background-color: var(--nav-background-color);
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    position: fixed;
    z-index: 999;
}
.ntop{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    position: absolute;
    top: 2%;
}
.nmid{
    width: 100% ;
    height: 55%;
    position: absolute;
    top: 17%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.nbtm{
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 2%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo p{
    font-size: 28px;
    color: white;
    font-family: 'Biryani', sans-serif;
    font-weight: 600;
}

.nav:hover{
    width: 270px;
}

.nmid div , .nbtm div{
    width: 100%;
    height: 65px;
    display: flex;
    gap: 1.9rem;
    overflow: hidden;
    align-items: center;
    padding: 0rem 2rem;
    border-radius: 10px 0px 0px 10px;
}
.nmid div a , .nbtm div a {
    white-space: nowrap;
    color: var(--icon-color);
    font-size: 20px;
    font-family: 'Biryani', sans-serif;
    text-decoration: none;
}
.nmid div i , .nbtm div i {
    font-size: 22px;
    color: var(--i-count);
}

.nmid div:hover , .nbtm div:hover{
    background-color: var(--div-hover); 
}

.nmid div:hover a, .nbtm div:hover a, .nmid div:hover i, .nbtm div:hover i {
        color: white;
}

.nav .close{
    display: none;
}



/* Mobile View */

@media (max-width: 500px) {

    #toggle{
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.2rem;
    }
    .nav{
        transform: translateX(-20rem);
    }
    
    .nmid div a, .nbtm div a {
        font-size: 14px;
    }
    .nav:hover + .content{
        margin-left: 0rem;
    }

    .nav-active {
        transform: translateX(0);
        transition: 0.5s;
        width: 270px;
    }
    .blur{
        filter: blur(10px);
    }
    .nav .close{
        position: absolute;
        font-size: 22px;
        display: flex;
        right: -30px;
        top: 0;
    }





}

/* Tablet */
@media (max-width: 768px) and (min-width: 500px) {

    #toggle{
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.8rem;
    }
    .nav{
        transform: translateX(-20rem);
    }
    
    .nmid div a, .nbtm div a {
        font-size: 20px;
    }
    .nav:hover + .content{
        margin-left: 0rem;
    }

    .nav-active {
        transform: translateX(0);
        transition: 0.5s;
        width: 300px;
    }
    .blur{
        filter: blur(10px);
    }
    .nav .close{
        position: absolute;
        font-size: 24px;
        display: flex;
        right: -30px;
        top: 0;
    }



}

/* Tablet To Laptop */
@media (min-width: 768px) and (max-width: 992px) {

    #toggle{
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.5rem;
    }
    .nav{
        transform: translateX(-20rem);
    }
    
    .nmid div a, .nbtm div a {
        font-size: 22px;
    }
    .nav:hover + .content{
        margin-left: 0rem;
    }

    .nav-active {
        transform: translateX(0);
        transition: 0.5s;
        width: 300px;
    }
    .blur{
        filter: blur(10px);
    }
    .nav .close{
        position: absolute;
        font-size: 28px;
        display: flex;
        right: -30px;
        top: 0;
    }


}