@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chelsea+Market&family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
html,body{
    width: 100%;
    height: 100vh;
}

.main{
    width: 100%;
    min-height: 100vh; /* Use min-height for better flexibility */
    background-image: url("Marble\ 5.svg");
    background-color: rgb(24, 23, 23);
}
.nav{
    width: 100%;
    height: 100px;
    background-color: transparent;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
}
.nav i{
    display: none;
}
.nav img{
    width: 20%;
    padding-top: 2rem;
}
.rlinks{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.rlinks a{
    text-decoration: none;
    font-size: 1vw;
    font-weight: 700;
    color: white
}
.rlinks i{
    font-size: 1.4vw ;
    font-weight: 900;
    display: none;
}
.rlinks button{
    height: 2.2vw;
    width: 7vw;
    padding: 0vw 0.2vw;
    cursor: pointer;
    font-size: 1vw;
    background-color: #FFB219;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    
}
#btn{
    color: black;
}

.content{

    width: 100%;
    padding-top: 4rem;
    flex-direction: column;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%; /* Ensure the content fills available space */
}
.center{
    width: 60%;
    height: 80%;
    background-color: #2A2A2D;
    border-radius: 12px;
    padding: 2rem 4rem;
    display: flex;
}
.center h1{
    font-size: 2vw;
}

.center .left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
.right img{
    width: 70%;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
form input[type="text"] , form input[type="password"] , form input[type="email"]{
    width: 85% ; 
    height: 50.85px;
    padding-left: 1rem;
    border-radius: 10px;
    border: none;
    background-color: #B4B4B4;
    font-size: 17px;
    color: rgb(7, 7, 7);
}

select{
    width: 85% ; 
    height: 50.85px;
    padding-left: 1rem;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    background-color: #B4B4B4;

}
.upload{
    display: flex;
    gap: 1rem;
}
.upload p{
    color: white;
    font-size: 0.75vw;
}

form button{
    width: 85% ; 
    height: 60.85px;
    background-color: #232429;
    border: none;
    font-size: 23px;
    color: #FFB219;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #FFB219;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    display: none;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.left h1{
    font-size: 2.75vw;
    color: white;
}
span{
    color: #FFB219;
}
.content>p{
    color: white;
    font-size: 1vw;
}
#test{
    text-decoration: none;
    color:#FFB219;
}

/* Mobile View */
@media (max-width: 500px) {


    .content {
        width: 100%;
        min-height: 100vh; 
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: normal;
        padding-top: 0rem;
        padding-bottom: 2rem;
    }
    .nav{
        padding: 1rem 1rem;
        height: 80px;
    }
    .nav i{
        display: flex;
        font-size: 5vw;
    }
    .nav .rlinks{
        display: none;
    }
    .nav img{
        width: 70%;
    }
    .center {
        width: 90%;
        height: 70%;
        padding: 1rem 1.25rem;
        display: flex;
        margin-top: 3rem;
    }
    .right{
        display: none;
    }

        .center .left {
            width: 100%;
            height: 100%;
            gap: 2rem;
            align-items: center;
        }
        .left h1 {
            font-size: 6.25vw;
        }
        form{
            gap: 2rem;
            width: 100%;
        }
        form input[type="text"], form input[type="password"], form input[type="email"] {
            width: 100%;
            height: 50.85px;
            padding-left: 1rem;
            border-radius: 10px;
            font-size: 4vw;
        }
        select {
            width: 100%;
            height: 50.85px;
            font-size: 3.5vw;
        }
        .submit{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        form button {
            width: 50%;
            height: 11vw;
            font-size: 5vw
        }
        .content>p {
            font-size: 4vw;
        }


}


/* Tablet */
@media (max-width: 768px) and (min-width: 500px) {

    .content {
        width: 100%;
        min-height: 100vh; 
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: normal;
        padding-top: 0rem;
    }
    .nav {
        width: 100%;
        height: 100px;
        background-color: transparent;
        padding: 1rem 2rem;
    
    }

    .nav i{
        display: flex;
        font-size: 3vw;
    }
    .nav .rlinks{
        display: none;
    }
    .nav img{
        width: 40%;
    }
    .center {
        width: 90%;
        height: 70%;
        padding: 1rem 1.25rem;
        display: flex;
        margin-top: 3rem;
    }
    .right{
        display: none;
    }

        .center .left {
            width: 100%;
            height: 100%;
            gap: 2rem;
            align-items: center;
        }
        .left h1 {
            font-size: 5vw;
            color: white;
        }
        form {
            gap: 2rem;
            padding: 0rem 2rem;
            width: 100%;
        }
        form input[type="text"], form input[type="password"], form input[type="email"] {
            width: 100%;
            height: 50.85px;
            font-size: 17px;
        }
        select {
            width: 100%;
            height: 50.85px;
            font-size: 17px;
        }
        .submit{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        form button {
            width: 35%;
            height: 8vw;
            font-size: 3.5vw;
        }
        .content>p {
            font-size: 2.3vw;
        }
   

   
}

/* Tablet To Laptop */
@media (min-width: 768px) and (max-width: 992px) {


    .content {
        width: 100%;
        min-height : 100vh;
        padding: 0rem 1rem;
        justify-content: normal;
    }
    .nav {
        padding: 1rem 1rem;
    }
    .nav img {
        width: 30%;
        padding-top: 2rem;
    }
    .rlinks {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: end;
        gap: 3rem;
    }
    .rlinks a {
        font-size: 1.7vw;
       
    }
    .rlinks button {
        height: 4.2vw;
        width: 10vw;
    
    }
    .center .left {
        width: 60%;
        height: 100%;
    }
    .right{
        width: 40%;
    }
    .center {
        width: 95%;
        height: 80%;
        padding: 2rem 1rem;
        margin-top: 2rem;
        gap: 0rem;
    }
    .content>p {
        color: white;
        font-size: 2vw;
    }
    .right img {
        width: 90%;
    }
    .left h1 {
        font-size: 3.75vw;
        color: white;
    }

    

   
   
}



