:root {
    --background-color: #242424; 
    --nav-background-color : #161717; 
    --icon-color:#8C8C8C;
    --preview-background-color:#161717;
    --heading-color:white ; 
    --font-color:white;
    --boxes-bg-color: #0B0b0f;
    --box-count-color: #242424;
    --i-count: #8C8C8C;
    --div-hover : #FF9F00;
   
}

.light-mode {
    --background-color: #E3E3EA;
    --nav-background-color: #FFFFFF;
    --icon-color:#000000;
    --preview-background-color:#FFFFFF;
    --heading-color:black;
    --font-color:black;
    --boxes-bg-color:#FFFFFF;
    --box-count-color:#E3E3EA;
    --i-count: #000000;
    --div-hover : #000000;   
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    min-height: 100%;
}

.main{
    width: 100%;
    min-height: 100%;
    background-color: var(--background-color);
    display: flex;
}
.nav{
    width: 80px;
    height: 100%;
    background-color: var(--nav-background-color);
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    position: fixed;
    z-index: 999;
}
.ntop{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    position: absolute;
    top: 2%;
}
.nmid{
    width: 100% ;
    height: 55%;
    position: absolute;
    top: 17%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.nbtm{
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 2%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo p{
    font-size: 28px;
    color: white;
    font-family: 'Biryani', sans-serif;
    font-weight: 600;
}

p{
    margin-top: 0;
    margin-bottom: 0rem;
}

.nav:hover{
    width: 270px;
}

.nmid div , .nbtm div{
    width: 100%;
    height: 65px;
    display: flex;
    gap: 1.9rem;
    overflow: hidden;
    align-items: center;
    padding: 0rem 2rem;
    border-radius: 10px 0px 0px 10px;
}
.nmid div a , .nbtm div a {
    white-space: nowrap;
    color: var(--icon-color);
    font-size: 20px;
    font-family: 'Biryani', sans-serif;
    text-decoration: none;
}
.nmid div i , .nbtm div i {
    font-size: 22px;
    color: var(--i-count);
}

.nmid div:hover , .nbtm div:hover{
    background-color: var(--div-hover); 
}

.nmid div:hover a, .nbtm div:hover a, .nmid div:hover i, .nbtm div:hover i {
        color: white;
}

.nav .close{
    display: none;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #ffffff;
    background-color: #007bff;
    border-color: #007bff;
    text-decoration: none;
}
.btn:hover {
    background-color: #0056b3;
    border-color: #004085;
}

/* Custom styles for btn-success */
.btn-success {
    background-color: #218838; /* Custom green color */
    border-color: #28a745;     /* Match the border color */
    color: white;              /* Text color */
  }
  
  .btn-success:hover {
    background-color: #28a745; /* Darken on hover */
    border-color: #1e7e34;     /* Darken border on hover */
  }
  
  /* Custom styles for btn-danger */
  .btn-danger {
    background-color: #c82333; /* Custom red color */
    border-color: #dc3545;     /* Match the border color */
    color: white;              /* Text color */
  }
  
  .btn-danger:hover {
    background-color: #dc3545; /* Darken on hover */
    border-color: #bd2130;     /* Darken border on hover */
  }



/* Code of Navbar End Here  */

.content {
    width: calc(100vw - 80px );
    min-height : 100vh;
    margin-left: 80px; /* Initial margin-left to match the nav width */
    transition: margin-left 0.3s; /* Add transition for a smooth effect */
    background-color: var(--background-color);
    padding: 1rem 3rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


#toggle{
    display: none;
    color: var(--font-color);
}


.nav:hover + .content {
    margin-left: 270px;  
}

.cbtm{
    width: 100%;
    height: 95%;
    gap: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--boxes-bg-color);
    color: var(--font-color);
    font-family: 'Poppins', sans-serif;
    margin: 1rem 0;
}
thead th {
    background-color: #FF9F00 ;
    color: var(--font-color);
    padding: 0.75rem;
    text-align: left;
}
tbody td {
    padding: 0.75rem;
    border-bottom: 1px solid var(--box-count-color);
}
tbody tr:hover {
    background-color: var(--td-hover);
}

.btn {
    font-family: 'Poppins', sans-serif;
}

.no-complaints {
    text-align: center;
    vertical-align: middle;
    height: 100px; /* Adjust height as needed */
}


/* Mobile View */
@media (max-width: 500px) {

    #toggle {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.4rem;
    }
    
    .content {
        width: 100%;
        min-height: 100vh; /* Ensures it occupies the full viewport height */
        margin-left: 0;
        background-color: var(--background-color);
        overflow-x: scroll;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    
    .nav {
        transform: translateX(-20rem);
    }
    
    .nmid div a, .nbtm div a {
        font-size: 14px;
    }
    
    .nav:hover + .content {
        margin-left: 0;
    }
    
    .nav-active {
        transform: translateX(0);
        transition: 0.5s;
        width: 270px;
    }
    
    .blur {
        filter: blur(10px);
    }
    
    .nav .close {
        position: absolute;
        font-size: 22px;
        display: flex;
        right: -30px;
        top: 0;
    }
    .cbtm {
        width: 100vw;
        height: auto;
        flex-direction: column-reverse;
        padding : 3rem 1rem;
    }
    table th{
        font-size: 3.5vw;
        white-space: nowrap;
        height: 1.2rem;
    }
    .btn {
        padding: 0.3rem 0.7rem;
        font-size: 3.5vw;

    }
    table td {
        padding-left:1rem; /* Adjust the padding value as needed */
      }
    
}


/* Tablet */
@media (max-width: 768px) and (min-width: 500px) {

    #toggle{
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.8rem;
    }
    .content {
        width: 100%;
        min-height: 100vh; /* Ensures it occupies the full viewport height */
        margin-left: 0;
        background-color: var(--background-color);
        overflow-x: scroll;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    .nav{
        transform: translateX(-20rem);
    }
    
    .nmid div a, .nbtm div a {
        font-size: 20px;
    }
    .nav:hover + .content{
        margin-left: 0rem;
    }
    .preview{
        display: none;
    }
    .nav-active {
        transform: translateX(0);
        transition: 0.5s;
        width: 300px;
    }
    .blur{
        filter: blur(10px);
    }
    .nav .close{
        position: absolute;
        font-size: 24px;
        display: flex;
        right: -30px;
        top: 0;
    }
    
    .cbtm {
        width: 100vw;
        height: auto;
        flex-direction: column-reverse;
        padding : 3rem 1rem;
    }
    table th{
        font-size: 2vw;
        white-space: nowrap;
        height: 1rem;
    }
    .btn {
        padding: 0.3rem 0.7rem;
        font-size: 2vw;

    }
    table td {
        padding-left:1rem; /* Adjust the padding value as needed */
    }
   
    
}

/* Tablet To Laptop */
@media (min-width: 768px) and (max-width: 992px) {

    #toggle{
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.5rem;
    }
    .content {
        width: 100%;
        min-height: 100vh; /* Ensures it occupies the full viewport height */
        margin-left: 0;
        background-color: var(--background-color);
        overflow-x: scroll;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    .nav{
        transform: translateX(-20rem);
    }
    
    .nmid div a, .nbtm div a {
        font-size: 22px;
    }
    .nav:hover + .content{
        margin-left: 0rem;
    }
    .preview{
        display: none;
    }
    .nav-active {
        transform: translateX(0);
        transition: 0.5s;
        width: 300px;
    }
    .blur{
        filter: blur(10px);
    }
    .nav .close{
        position: absolute;
        font-size: 28px;
        display: flex;
        right: -30px;
        top: 0;
    }
    .cinfo{
        text-align: center;
        height: 10%;
    }
    .cinfo h1 {
        font-size: 4vw;
    }
    .cinfo p {
        font-size: 16px;
    }

    .cbtm {
        width: 100vw;
        height: auto;
        flex-direction: column-reverse;
        padding : 3rem 1rem;
    }
    table th{
        font-size: 1.75vw;
        white-space: nowrap;
        height: 0.25rem;
    }
    .btn {
        padding: 0.3rem 0.5rem;
        font-size: 2vw;

    }
    table td {
        padding-left:1rem; /* Adjust the padding value as needed */
    }
   
   
}



