<%- include('../partials/navLeft') %>


    <div class="content">

        <style>


            * {
                margin: 0;
                padding: 0;
                box-sizing: content-box;
            }
            body{
                
                display: flex;
                
            }
    
            .nav:hover + .content {
                margin-left: 250px;
                
            }
            
            
    
            .content {
                width: calc(100vw - 80px );
                background-color: var(--background-color);
                min-height: 100vh;
                height : auto ; 
                display: flex;
                margin-left: 80px; /* Initial margin-left to match the nav width */
                transition: margin-left 0.3s; /* Add transition for a smooth effect */
            }
    
            .preview{
                    width: 30vw;
                    position: fixed;
                    min-height: 100vh;
                    height: auto;
                    right: 0rem;
                    background-color: var(--preview-background-color);
            }
    
    .inner{
        
        color: var(--heading-color);
        
    }
    .inner h1{
       font-size: 40px;
       font-weight: bolder;
    
       
    }
    form{
        margin-left: 5vw;
        width: 55%;
        padding: 1rem 0rem 0rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .first{
        display: flex;
        gap: 1rem;
        justify-content: space-between;
       
    }
    .subject input{
        width: 20vw;
        height: 40px;
        border-radius: 11px;
        border: none;
        padding: 0.5rem;
        padding-left: 1rem;
    }
    .complaint-type select{
        width: 284px;
        height: 40px;
        color: #6F6C90;
        font-size: 15px;
        padding: 0.5rem;
        border: none;
        border-radius: 11px;
    }
    .complaint-type , .subject , .description{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        
    }
    
    .second textarea{
        width: 98%;
        height: 8vw;
        color: #6F6C90;
        font-size: 15px;
        padding: 0.5rem;
        border: none;
        border-radius: 11px;
        font-family: 'DM Sans', sans-serif;
        
    }
    .third{
        
        border: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-family: 'DM Sans', sans-serif;
    }
    .image{
        width: 100%;
        height: 10vw;
        border-radius: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        
        
       
        
    }
    
    form p{
        font-size: 18px;
        font-weight: 800;
        font-family: 'DM Sans', sans-serif;
        color:var(--font-color);
    }
    .file-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        align-items: center;
    }
    
    .file-i{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        
    }
    
    .file-logo input[type="file"] {
        display: none; /* Hide the default file input */
    }
    
    .file-logo label {
        cursor: pointer;
    }
    
    .btn {
        display: flex;
        justify-content: center;
    }
    
    .btn input[type="submit"] {
        width: 10vw;
        height: 45px;
        background-color: #000000;
        color: white;
        font-size: 24px;
        border-radius: 12px;
        font-family: 'DM Sans', sans-serif;
    }
    
    
    
    
    
    
    
    
    
    
    
    </style>
    




        <form action = "/user/complaint/fileComplaint" method = "post" enctype="multipart/form-data">
          
            <h1 style = "color : var(--font-color);"><%= user.username %></h1>
        
          
            <div class="first">
        
                <div class="complaint-type">
                    <p>Complaint Type</p>
                    <select name="complaint_group">
                        <option value = "Electricity">Electricity</option>
                        <option value = "Water">Water </option>
                        <option value = "Carpenter">Property Damage </option>
                        
                    </select>
                </div>
        
                <div class="subject">
                    <p>Subject</p>
                    <input type="text" placeholder="Enter Complaint Subject" name="subject" id = "subject" required>
                    <p id = "err1" style="color: red; font-size: 15px; visibility:hidden;">Maximum 50 words allowed</p>
                </div>
        
            </div>
        
            <div class="second">
                <div class="description">
                    <p>Description</p>
                    <textarea placeholder="Enter Complaint Description" rows="20" cols="100" name = "desc" id = "desc" required></textarea>
                    <p id = "err2" style="color: red; font-size: 15px;visibility:hidden;">Maximum 250 words allowed</p>
                </div>
        
            </div>
            <div class="third">
                <p>Image</p>
                <div class="image">
        
                    <div class="file-logo">
        
                        <label for="file-input" class="file-i">
        
                            
                            <p style="font-size: 15px; color: #6F6C90;">Click to upload</p>
        
                        </label>
        
                        <input type="file" name="complaint_image" id="file-input" accept="image/*" required>
                    </div>
                </div>
            </div>
            
            <style>
        
        
        
        
                
            </style>
            
            <div class="btn">
                <input type="submit" value="Submit" name="save" id = "btn">
            </div>
        
            
        
              
          </form>

        
    </div>



    


</body>
</html>